.add-dream-form {
  display: flex; 
  justify-content: flex-start;
  width: 40em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    // background-color: blue;
}

.add-dream-card-body {
  display: flex; 
  justify-content: center;
  flex-direction: column;
}

#entry {
  height: 8em;
}

.keyword-bucket {
  display: flex;
  flex-direction: column;
}
.dream-form-container {
  display: flex;
  justify-content: center;
}

.input-text {
  margin-bottom: 1em;
  height: 2.5em;
  font-size: 12px;
}

.label-input {
  // font-weight: bold;
  font-size: 14;
}
