.add-dream-form {
  display: flex; 
  justify-content: flex-start;
  width: 40em;
  margin-top: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.add-dream-card-body {
  overflow: scroll;
  height: 40em;
}

#entry {
  height: 6em;
}

.keyword-bucket {
  display: flex;
  flex-direction: column;
}

.input-text {
  margin-bottom: 1em;
  height: 2.5em;
  font-size: 12px;
  color: grey;
}

.label-input {
  font-size: 14;
}
