a {
  color: black;
  text-decoration: none;
}

.expand-arrow-btn {
  height: 2em;
}

#expand-arrow {
  font-weight: bolder;
  font-size: 2em;
}

.add-dream-btn-link {
  margin-top: .8em;
  margin-bottom: .8em;
}

.auth-cloud {
  opacity: .9;
  font-size: 3em;
  animation-name: colors;
  animation-delay: .2s;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction:alternate-reverse;
}

.auth-button {
  border: transparent;
  text-decoration: none;
}

.in-auth-cloud {
  opacity: .9;
  font-size: 2em;
  animation-name: colors;
  animation-delay: .2s;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction:alternate-reverse;
}

.submit-btn {
  display: flex;
  justify-content: center;
  background-color: rgb(102, 161, 102);
  margin: .2em;
  width: 2em;
  height: 2em;
}

.button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: .2em;
  width: 2em;
  height: 2em;
  background-color: rgb(146, 145, 145);;
  opacity: .7;
}

.edit-icons {
  display: flex;
  justify-content: center;
}

.edit-icons a{
  text-decoration: none;
}
