.sign-in-out-btn {
  opacity: .9;
  font-size: 5em;
  animation-name: colors;
  animation-delay: .2s;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction:alternate-reverse;
}

.add-dream-btn-link {
  width: 2em;
}

a {
  color: black;
  text-decoration: none;
}

.fab-icons {
  margin: 2em;
}

.add-btn-submit {
  text-align: center;
}

.expand-arrow-btn {
  height: 2em;
}

#expand-arrow {
  font-weight: bolder;
  font-size: 2em;
}

.fab-add-btn {
  color: red;
}
