

.add-dream-btn-link {
  width: 2em;
}

a {
  color: black;
  text-decoration: none;
}

.fab-icons {
  margin: 2em;
}

.add-btn-submit {
  text-align: center;
}

.expand-arrow-btn {
  height: 2em;
}

#expand-arrow {
  font-weight: bolder;
  font-size: 2em;
}

.check-icon {
  border-top: 1px solid grey;
}

.fab-add-btn {
  color: red;
}
