.dream-card {
  background-color: lightgrey;
  height: 14em;
  width: 95%;
  padding: 1em;
  margin: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.dream-card-body {
  background-color: white;
  height: 8em;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.top-text {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-bottom: 1em;
}

.dream-type-icon {
  margin-right: 1.5em;
  font-size: 2em;
}

.hr {
  text-align: center;
  margin-top: -1em;
  margin-right: 1em;
  font-weight: lighter;
}

.date {
  font-family: 'Almarai', sans-serif;
  font-size: .8em;
}

h2 {
  text-align: center;
}

.add-dream-form {
  display: flex; 
  justify-content: center;
  margin-top: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.add-dream-card-body {
  display: flex; 
  justify-content: center;
  flex-direction: column;
}
