.dream-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dream-card {
  width: 24em;
  background-color: #f0f0f1;
  height: 11em;
  padding: .5em;
  margin: .6em;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dream-card-body {
  background-color: white;
  height: 6em;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.top-text {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-bottom: 1em;
}

.hr {
  text-align: center;
  margin-top: -1em;
  margin-right: 1em;
  font-weight: lighter;
}

.date {
  font-family: 'Almarai', sans-serif;
  font-size: 10px;
  color: grey;
}

h2 {
  text-align: center;
}

.card-footer {
  display: flex; 
  justify-content: center;
}

.sub-card {
  background-color: rgb(233, 232, 232);
  height: 80vmin;
  padding: 1em;
  margin: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sub-card-body {
  text-align: left;
  background-color: white;
  height: 12em;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-text {
  font-size: 14px;
}

.card-title {
  font-size: 11px;
  font-weight: bolder;
}

.menu-card {
  width: 50em;
  margin-top: 9em;
}

.menu-card-body {
  text-align: left;
  height: 48em;
}

.single-card-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 10em;
}

.single-dream-card {
  display: flex; 
  justify-content: flex-start;
  width: 40em;
  margin: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.single-dream-card-body {
  overflow: scroll;
  height: 40em;
}

.single-date {
  font-size: 10px;
}

.left {
  background-color: green;
}

.right {
  background-color: blue;
}

.education-card {
  width: 30em;
  background-color: #f0f0f1;
  height: 14em;
  padding: .5em;
  border-radius: 5px;
  margin-top: 2em;
  margin-left: 10em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.education-card-body {
  background-color: white;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.education-sub-container {
  height: 100vh;
}
