
.education-sub-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 10em;
}

.stats-card-container {
  display: flex;
  justify-content: center;
}

.single-card-container {
  display: flex;
  justify-content: flex-start;
  height: 53em;
}

.dream-card-container {
  display: flex;
  justify-content: first baseline;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 5em;
  margin-right: 5em;
  
}

.dream-form-container {
  display: flex;
  justify-content: center;
}
