.dream-bank-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  border-top: 2px solid rgb(199, 199, 199);
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: rgb(247, 247, 247);
  height: 90%;
}

.dream-form-container {
  display: flex;
  justify-content: center;
}

.single-card-container {
  display: flex;
  justify-content: flex-start;
}
//flex-start: when clicked edit form is right of card

.education-card-container {
  display: flex;
  justify-content: center;
}
