.dream-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 2px solid rgb(199, 199, 199);
  padding-top: 2em;
  background-color: rgb(247, 247, 247);
}

.dream-form-container {
  display: flex;
  justify-content: center;
}

.single-card-container {
  display: flex;
  justify-content: flex-start;
  height: 53em;
}

.stats-card-container {
  display: flex;
  justify-content: center;
}

