.dream-form-container {
  display: flex; 
  justify-content: center;
}

h2 {
  text-align: center;
}

.add-dream-card {
  width: 40em;
}

.add-dream-card-body {
  display: flex; 
  justify-content: center;
  flex-direction: column;
}

.record-dream-texarea {
  height: 20em;
}
