.navbar {
  height: 6em;
}

.navbar-brand {
  font-size: 2em;
  color: lightgrey;
}

.sign-in-out-btn {
  display: flex;
  justify-content: flex-end;
  opacity: .9;
  width: 4em;
  height: 4em;
  margin-right: 2em;
  animation-name: colors;
  animation-delay: .2s;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction:alternate-reverse;
}

.sign-icon {
  font-size: 3em;
}
