.navbar {
  height: 8em;
}

.navbar-brand {
  font-size: 2em;
  margin-left: 1em;
  color: grey;
}

.navbar-brand:hover a {
  color: grey;
}

.links {
  margin-top: .8em;
  color: grey;
}

.ed-link {
  margin-top: .8em;
  color: grey;
}

.stats-link {
  margin-top: .8em;
  color: grey;
}
