body {
  background-color: hotpink;
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: orange;
  width: 69vmin;
}

.single-card-view {
  background-color: purple;
  width: 69vmin;}

.welcome-page-view {
  background-color: blue;
  display: flex;
  justify-content: center;
  height: 100vmin;
  width: 69vmin;}

.recorded-dream-container {
  background-color:grey;
}

.navBar {
  width: 69vmin;
  height: 8em;
  border: 1px solid green;
}

.footer {
  display: flex; 
  justify-content: center;
}

.card-footer {
  display: flex; 
  justify-content: center;
}
