body {
  // background-color: hotpink;
  display: flex;
  justify-content: center;
}

#root {
  // background-color: orange;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 69vmin;
}

.welcome-page-view {
  // background-color: blue;
  display: flex;
  justify-content: center;
  height: 100vmin;
  width: 69vmin;}

.navBar {
  width: 69vmin;
  height: 8em;
}

.footer {
  display: flex; 
  justify-content: center;
}

.card-footer {
  display: flex; 
  justify-content: center;
}

.dream-form-container {
  display: flex;
  flex-direction: column;
}

.keyword-bucket {
  display: flex;
  flex-direction: column;
}
