@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'cards';
@import 'buttons';
@import 'navBar';
@import 'addForm';
@import 'welcomePage';

.input {
  margin-bottom: 1em;
  height: 2.5em;
}

#entry {
  height: 10em;
}

h6 {
  font-weight: 600;
}

.dream-card-container {
  // background-color: green;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 7em;
}
