@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'cards';
@import 'buttons';
@import 'navBar';
@import 'addForm';
@import 'footer';
@import 'welcomePage';


body {
  // background-color: hotpink;
  display: flex;
  justify-content: center;
}

#root {
  // background-color: orange;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 69vmin;
}

// .routes-container {
//   background-color: green;
//   border: 1px solid lightgrey;
// }

.recorded-dream-container {
  //  background-color: aquamarine;
   border: 1px solid lightgrey;
}
