.sub-top-text {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-bottom: 1.5em;
}

.education-card {
  width: 30em;
  background-color: #f0f0f1;
  height: 16em;
  padding: .5em;
  border-radius: 5px;
  margin: 1em;
  padding-bottom: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.education-card-body {
  background-color: white;
  padding: 2em;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.8em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.menu-card {
  width: 45em;
  margin-top: 9em;
  margin-left: 5em;
}

.menu-card-body {
  text-align: left;
  height: 50em;
  width: 45em;
}

.stats-card {
  width: 30em;
  background-color: #f0f0f1;
  height: 16em;
  padding: .5em;
  border-radius: 5px;
  margin-top: 10em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.stats-card-body {
  background-color: white;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.check-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.ed {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45em;
  border-right: 2px solid grey;
}
